* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
.container{
    margin-top: 10px;
}
.button-container{
    text-align: center;
}
button{
    margin: 15px 5px;
    font-size: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    border: 1px solid #555;
    width: 50px;
    height: 80px;
    position: relative;
}
.box.green {
    background: #227f35;
    border: none;
}
.box.brown{
    border: none;
    background: -webkit-linear-gradient(left, #370808, #150102); /* For Chrome and Safari */
}
.lights{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span{
    display: flex;
    flex-wrap: wrap;
    border-radius: 60px 60px 0 0;
    overflow: hidden;
}
span:last-child > .box:not(.centeredbox){
    border-radius: 0 0 15px 15px;
}

.negative-margin{
    margin-top: -2px;
}